body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #a200ff, #530e7a);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    margin: 0;
}

.card {
    width: 400px;
    background-color: #461b77;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
    
}

.card:hover {
    background-color: #3f0052;
    transform: scale(1.05);
}

.card h2 {
    font-size: 1.5rem;
    margin: 0;
    color: #ffffff;
    padding: 20px;
}

.card img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.card:hover img {
    transform: scale(1.05);
}

.card .content {
    padding: 20px;
    color: #ffffff;
}

.card p {
    margin: 10px 0;
}

.qualities {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
}

.qualities .card {
    width: calc(33.33% - 20px); 
    background-color: #461b77;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.qualities .card:hover {
    background-color: #3f0052;
    transform: scale(1.05);
}

.qualities .card h3 {
    font-size: 1.2rem;
    margin: 0;
    color: #ffffff;
}

.qualities .card p {
    margin: 10px 0;
    color: #ffffff;
}

.qualities .card img {
    width: 50%;
    max-height: 75px; 
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.qualities-container {
    text-align: center; 
    margin-top: 20px; 
    color: #ffffff;
}

.qualities-title {
    font-size: 1.5rem;
    margin: 0;
}

header {
    background-color: #461b77;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

nav {
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #a200ff;
}


