body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #a200ff, #000000);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1200px;
    margin: 0;
}

.card {
    width: 450px;
    background-color: #461b77;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.card:hover {
    background-color: #3f0052;
    transform: scale(1.05);
}

.card h2 {
    font-size: 1.5rem;
    margin: 0;
    color: #ffffff;
    padding: 20px;
}

.card img {
    width: 100%;
    max-height: 550px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.card:hover img {
    transform: scale(1.05);
}

.card .content {
    padding: 20px;
    color: #ffffff;
}

.card p {
    margin: 10px 0;
}

